.listItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}
.oneItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.timeStyle {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
}
.titleStyle {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 10px;
  margin: 2px;
}
.logoimg {
  width: 15px;
  margin: 2px;
}
.domainUrlStyle {
  font-family: 'Roboto';
  font-weight: lighter;
  font-size: 10px;
  margin: 2px;
}
.deletImg {
  width: 12px;
}
